.user-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
.user-card img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.user card button {
  background-color: #5e53f6ff;
  color: rgb(212, 213, 218);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}